.accordion-section {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  &:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-top: var(--margin-vertical)
  }
  &:last-of-type {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-bottom: var(--margin-vertical)
  }
  &.flat:not(:first-of-type){
    border-top: 0;
  }
}