.breadcrumb {
  display: block;
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  & > .breadcrumb-item {
    --color: var(--interface-gray-600);
    > a {
      color: inherit;
      border: 0;
      &:hover, &:focus {
        border: 0;
        color: var(--focus-blue-500);
      }
    }
    &:last-of-type {
      --color: var(--interface-gray-900);
    }
  }
  & .breadcrumb-separator {
    --margin-horizontal: var(--ls-25p);
    --color: var(--interface-gray-600);
  }
}