.calendar-container {
  border: 1px solid var(--interface-gray-300);
  --border-radius: var(--ls-25p);
  overflow: hidden;
  box-sizing: content-box;
  max-width: var(--ls-600p);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  &.solid {
    border: 0;
    --box-shadow: var(--shadow-100);
  }
}
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar-grid {
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
}
.calendar-month {
  --color: var(--interface-gray-800);
  --font-weight: 600;
  --font-size: var(--ts-400p);
  text-align: center;
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-25p);
  word-spacing: var(--ls-25p);
  width: 100%;
}
.calendar-cell, .calendar-day, .calendar-date {
  transition: 0.3s all ease;
  text-align: center;
  align-self: center;
  letter-spacing: 0.075rem;
  --padding-vertical: var(--ls-75p);
  --padding-horizontal: var(--ls-25p);
}
.calendar-day {
  --font-weight: 600;
  border-bottom: 1px solid var(--interface-gray-100);
  --color: var(--interface-gray-800);
}
.calendar-date {
  cursor: pointer;
  --font-size: var(--ls-100p);
  --color: var(--interface-gray-500);
  &.in-month {
    --color: var(--interface-gray-900);
  }
  // Dynamic borders
  &.highlighted {
    background: var(--focus-blue-500);
    color: var(--interface-gray-0);
    position: relative;
  }
  &.today {
    color: var(--focus-blue-500);
  }
  &:hover {
    --background-color: var(--focus-blue-100);
    --color: var(--focus-blue-700);
  }
  transition: border 0.0s ease;
}
.calendar-arrow-button {
  svg {
    transition: all 0.3s ease;
    pointer-events: none;
  }
  --background-color: transparent;
  --secondary-background-color: transparent;
  --tertiary-background-color: transparent;
  --color: var(--interface-gray-600);
  &:hover, &:focus {
    > span > svg {
      color: var(--focus-blue-500);
    }
  }
}