.arrow-left {

}
.arrow-right {

}
.calendar-container {
  border: 1px solid var(--interface-gray-300);
  --border-radius: var(--ls-25p);
  overflow: hidden;
  box-sizing: content-box;
  max-width: var(--ls-600p);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
}
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar-grid {
  display: grid;
  grid-template: repeat(7, auto) / repeat(7, auto);
}
.calendar-month {
  --color: var(--interface-gray-800);
  --font-weight: 600;
  --font-size: var(--ts-400p);
  text-align: center;
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-25p);
  word-spacing: var(--ls-25p);
  width: 100%;
}
.calendar-cell, .calendar-day, .calendar-date {
  transition: 0.3s all ease;
  text-align: center;
  align-self: center;
  letter-spacing: 0.075rem;
  --padding-vertical: var(--ls-75p);
  --padding-horizontal: var(--ls-25p);
}
.calendar-day {
  --font-weight: 600;
  border-bottom: 1px solid var(--interface-gray-100);
  --color: var(--interface-gray-800);
}
.calendar-date {
  --font-size: var(--ls-100p);
  --color: var(--interface-gray-500);
  &.in-month {
    --color: var(--interface-gray-900);
  }
  // Dynamic borders
  &.highlighted {
    background: var(--focus-blue-500);
    color: var(--interface-gray-0);
    position: relative;
  }
  &:hover {
    --background-color: var(--focus-blue-100);
    --color: var(--focus-blue-700);
  }
}