.card {
  --box-shadow: var(--shadow-100);
  --margin: var(--ls-50p);
  --border-radius: var(--ls-25p);
  overflow: hidden;
}

.card-section {
  --padding: var(--ls-25p);
  &:first-child {
    border-top-left-radius: var(--ls-25p);
    border-top-right-radius: var(--ls-25p);
  }
}

.card-media-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-section:not(:first-child) {
  border-top: 1px solid var(--interface-gray-200);
}

.card-media-section + .card-section {
  border-top: 0;
}

:not(div).card-section {
  margin: 0;
  padding: calc( var(--padding-vertical) + var(--margin-vertical) ) calc( var(--padding-horizontal) + var(--margin-horizontal) );
  width: 100%;
  &:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}