.card {
  --box-shadow: var(--shadow-100);
  --margin: var(--ls-50p);
  --border-radius: var(--ls-25p);
  overflow: hidden;
}

.card-section {
  --padding: var(--ls-25p);
}

.card-media-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-section:not(:first-child) {
  border-top: 1px solid var(--cool-gray-200);
}

.card-media-section + .card-section {
  border-top: 0;
}