@mixin define-checkbox-radio-color-variant ($class-name, $color-name) {
  &.#{$class-name} {
    --background-color: var(--#{$color-name}-400);
    --color: var(--#{$color-name}-50);
  }
}

[type="checkbox"], [type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  --background-color: var(--interface-gray-400);
  --color: var(--interface-gray-50);
  position: relative;
  height: var(--ls-100p);
  width: var(--ls-100p);
  vertical-align: bottom;
  --margin: var(--ls-25p);
  border: 1px solid var(--background-color);
  background: var(--color);
  transition: all 0.3s ease;
  &:checked {
    background: var(--background-color);
    border: 1px solid var(--background-color);
  }
  &:checked:before {
    position: absolute;
  }
  @include define-checkbox-radio-color-variant('danger', 'danger-red');
  @include define-checkbox-radio-color-variant('success', 'success-green');
  @include define-checkbox-radio-color-variant('warning', 'warning-yellow');
  @include define-checkbox-radio-color-variant('primary', 'focus-blue');
  @include define-checkbox-radio-color-variant('secondary', 'deep-purple');
}
[type="checkbox"] {
  --border-radius: var(--ls-25p);
  &:checked:before {
    content: '\2713';
    font-family: sans-serif;
    --font-weight: 500;
    --font-size: var(--ts-50p);
    --background-color: transparent;
    height: var(--ls-100p);
    width: var(--ls-100p);
    top: -1px;
    left: -1px;
    line-height: 1.2;
    text-align: center;
  }
}
[type="radio"] {
  border-radius: var(--ls-100p);
  &:checked:before {
    content: '\25cf';
    font-family: sans-serif;
    --font-weight: 500;
    --font-size: var(--ts-50p);
    --background-color: transparent;
    height: var(--ls-100p);
    width: var(--ls-100p);
    top: -1px;
    left: -1px;
    line-height: 1.1;
    text-align: center;
  }
}