.collapse {
  background: inherit;
  --color: inherit;
  position: relative;
  display: block;
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-75p);
  --box-shadow: var(--shadow-100);
  --border-radius: var(--ls-50p);
  transform: 0.3s all ease;
  & > * {
    transform: 0.3s all ease;
  }
  & > summary {
  --padding-horizontal: var(--ls-75p);
  --padding-vertical: var(--ls-50p);
  border-radius: inherit;
  background: inherit;
  --color: inherit;
    &:hover {
      --color: var(--focus-blue-500);
    }
  }
  &[open] > summary { 
    border-bottom: 1px solid var(--interface-gray-100);
    border-bottom-left-radius: var(--ls-0p);
    border-bottom-right-radius: var(--ls-0p);
  }
  & > summary > .icon {
    position: absolute;
    right: var(--ls-50p);

  }
  & > summary > .icon > svg {
    background: inherit;
    --color: inherit;
    transition: all 0.3s ease;
    display: inline;
    & > path {
      --color: inherit;
      fill: var(--color);
    }
  }
  &[open] > summary > .icon > svg {
    transform: scale(-1, -1);
  }
  & .collapse-content {
    --background-color: var(--interface-gray-0);
    left: 0;
    width: 100%;
    --padding-vertical: var(--ls-50p);
    --border-radius: var(--ls-50p);
  }
  & > summary:first-of-type {
    list-style-type: none;
  }
  & > summary::-webkit-details-marker {
    display:none;
  }
  &.flat {
    --box-shadow: var(--shadow-0);
    border: 1px solid var(--interface-gray-200);
  }
}