.dropdown {
  background: inherit;
  --color: inherit;
  position: relative;
  display: inline-block;
  --margin-horizontal: var(--ls-25p);
  --padding-horizontal: var(--ls-50p);
  & > summary {
  background: inherit;
  --color: inherit;
  }
  & > summary > svg {
    background: inherit;
    --color: inherit;
    transform: scale(0.666667);
    transition: all 0.3s ease;
    display: inline;
    & > path {
      --color: inherit;
      fill: var(--color);
    }
  }
  &[open] > summary > svg {
    transform: scale(-0.666667, -0.666667);
  }
  & .dropdown-content {
    text-align: center;
    position: absolute;
    top: var(--ls-200p);
    left: 0;
    width: 100%;
    --padding: var(--ls-50p);
    --border-radius: var(--ls-50p);
    --box-shadow: var(--shadow-100);
    z-index: 98;
  }

  & > summary:first-of-type {
    list-style-type: none;
  }
  & > summary::-webkit-details-marker {
    display:none;
  }
}

.menu-item .dropdown, .button .dropdown, button .dropdown {
  --padding-horizontal: var(--ls-0p);
  --padding-vertical: var(--ls-0p);
  --margin-horizontal: var(--ls-0p);  
}

.menu.vertical .menu-item .dropdown {
  width: 100%;
  & > summary {
    & > svg {
      float: right;
    }
  }
  & .dropdown-content {
    position: relative;
    width: 100%;
    top: var(--ls-75p);
    --padding-vertical: var(--ls-0p);
    --border-radius: var(--ls-0p);
    --box-shadow: var(--shadow-0);
    z-index: 98;
  }
}

.menu.horizontal .menu-item .dropdown {
  --margin-horizontal: calc(0 - var(--ls-150p));
  width: calc(100% + 2* var(--ls-150p));
}

.dropdown a, .dropdown button, .dropdown .button, .dropdown .menu-item {
  display: block;
  width: 100%;
}

.dropdown a, .dropdown button, .dropdown .button {
  &:not(.menu-item) {
    --margin-vertical: var(--ls-75p);
  }
}