span.icon {
  display: inline-block;
}

button, .button, a.button, .badge {
  & .icon {
    background: transparent;
    transition: 0.3s all ease;
    & > svg {
      background: transparent;
      min-width: var(--ts-25p);
      min-height: var(--ts-25p);
    }
    vertical-align: text-bottom;
    --padding-horizontal: var(--ls-25p);
  }
  &.context-button {
    & .icon {
      --padding-horizontal: var(--ls-0p);
    }
  }
}