input[type='text'], input[type='email'] {
  border: 1px solid var(--interface-gray-200);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-50p);
  --border-radius: var(--ls-25p);
  --background-color: var(--interface-gray-0);
  --font-size: var(--ts-100p);
  font-size: var(--font-size);
  cursor: text;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% - 2 * var(--margin-horizontal));
  &:hover, &:focus {
    border-color: var(--focus-blue-400);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--focus-blue-100);
  }
  &:invalid, &:focus:invalid{
    border-color: var(--danger-red-400);
    box-shadow: none;
  }
  &.small {
    --font-size: var(--ts-50p);
  }
  &.large {
    --padding-vertical: var(--ls-75p);
    --padding-horizontal: var(--ls-100p);
  }
}

:placeholder-shown {
  color: var(--interface-gray-600);
}
::-placeholder {
  color: var(--interface-gray-600);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:var(--interface-gray-600);
}
::-moz-placeholder { /* Firefox 19+ */
  color:var(--interface-gray-600);
}