:placeholder-shown {
  color: var(--interface-gray-600);
}
::-placeholder {
  color: var(--interface-gray-600);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:var(--interface-gray-600);
}
::-moz-placeholder { /* Firefox 19+ */
  color:var(--interface-gray-600);
}

input, textarea, select {
  &[disabled] {
    cursor: not-allowed;
    --background-color: var(--interface-gray-50);
    --color: var(--interface-gray-600);
  }
  &[readonly] {
    --color: var(--interface-gray-700);
    user-select: none; 
  }
}

input[type='text'], input[type='email'], input[type='password'], 
input[type='number'], input[type='url'], input[list], 
input[type='search'], input[type='tel'] {
  border: 1px solid var(--interface-gray-200);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-50p);
  --border-radius: var(--ls-25p);
  --background-color: var(--interface-gray-0);
  --font-size: var(--ts-100p);
  font-size: var(--font-size);
  cursor: text;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% - 2 * var(--margin-horizontal));
  &:hover, &:focus {
    border-color: var(--focus-blue-400);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--focus-blue-100);
  }
  &:invalid, &:focus:invalid{
    border-color: var(--danger-red-400);
    box-shadow: none;
  }
  &.small {
    --font-size: var(--ts-50p);
  }
  &.large {
    --padding-vertical: var(--ls-75p);
    --padding-horizontal: var(--ls-100p);
  }
  &.rounded {
    border-radius: var(--ls-900p);
  }
}

input.revealer, input[list], input.date {
  width: calc(100% - 2 * var(--margin-horizontal));
  margin-right: 0;
  + button {
    --revealer-width: var(--ls-150p);
    position: relative;
    margin-left: calc(0rem - var(--revealer-width) - var(--ls-25p));
    width: var(--revealer-width);
    --background-color: transparent;
    --secondary-background-color: transparent;
    --tertiary-background-color: transparent;
    --color: var(--interface-gray-400);
    --secondary-color: var(--interface-gray-600);
    --padding-horizontal: var(--ls-0p);
    --padding-vertical: var(--ls-25p);
    color: var(--color);
    &:hover, &:focus {
      color: var(--secondary-color);
    }
    & > .icon {
      color: inherit;
      display: inline-block;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.number-input-minus {
  --button-width: var(--ls-150p);
  position: relative;
  width: var(--button-width);
  margin-right: calc(0rem - var(--button-width) - var(--ls-25p) + 1px);
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --background-color: transparent;
  --secondary-background-color: transparent;
  --tertiary-background-color: transparent;
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --padding-horizontal: var(--ls-0p);
  --padding-vertical: var(--ls-25p);
  z-index: 2;
  &:hover, &:focus {
    color: var(--secondary-color);
  }
  & > .icon {
    color: inherit;
    display: inline-block;
  }
  &[disabled] {
    --background-color: transparent;
    --secondary-background-color: transparent;
  }
}
input[type=number] {
  --button-width: var(--ls-150p);
  --margin-horizontal: 0;
  width: calc(100% - 2 * var(--ls-75p));
  --padding-horizontal: var(--button-width);
  text-align: center;
}
.number-input-plus {
  --button-width: var(--ls-150p);
  position: relative;
  width: var(--button-width);
  margin-left: calc(0rem - var(--button-width) - var(--ls-25p) + 1px);
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --background-color: transparent;
  --secondary-background-color: transparent;
  --tertiary-background-color: transparent;
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --padding-horizontal: var(--ls-0p);
  --padding-vertical: var(--ls-25p);
  z-index: 2;
  &:hover, &:focus {
    color: var(--secondary-color);
  }
  & > .icon {
    color: inherit;
    display: inline-block;
  }
  &[disabled] {
    --background-color: transparent;
    --secondary-background-color: transparent;
  }
}

textarea {
  border: 1px solid var(--interface-gray-200);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-50p);
  --border-radius: var(--ls-25p);
  --background-color: var(--interface-gray-0);
  --font-size: var(--ts-100p);
  font-size: var(--font-size);
  cursor: text;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% - 2 * var(--margin-horizontal));
  &:hover, &:focus {
    border-color: var(--focus-blue-400);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--focus-blue-100);
  }
  &:invalid, &:focus:invalid{
    border-color: var(--danger-red-400);
    box-shadow: none;
  }
  &.small {
    --font-size: var(--ts-50p);
  }
  &.large {
    --padding-vertical: var(--ls-75p);
    --padding-horizontal: var(--ls-100p);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid var(--interface-gray-200);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-50p);
  --border-radius: var(--ls-25p);
  --background-color: var(--interface-gray-0);
  --font-size: var(--ts-100p);
  font-size: var(--font-size);
  margin-right: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% - 2 * var(--margin-horizontal));
  &:hover, &:focus {
    border-color: var(--focus-blue-400);
    + button {
      color: var(--secondary-color);
    }
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--focus-blue-100);
  }
  &:invalid, &:focus:invalid{
    border-color: var(--danger-red-400);
    box-shadow: none;
  }
  > option {
    --padding-horizontal: var(--ls-50p);
  }
  &.small {
    --font-size: var(--ts-50p);
  }
  &.large {
    --padding-vertical: var(--ls-75p);
    > option {
      --padding-horizontal: var(--ls-100p);
    }
  }
  + button {
    --revealer-width: var(--ls-150p);
    position: relative;
    margin-left: calc(0rem - var(--revealer-width) - var(--ls-25p));
    width: var(--revealer-width);
    --background-color: transparent;
    --secondary-background-color: transparent;
    --tertiary-background-color: transparent;
    --color: var(--interface-gray-400);
    --secondary-color: var(--interface-gray-600);
    --padding-horizontal: var(--ls-0p);
    --padding-vertical: var(--ls-25p);
    pointer-events: none;
    color: var(--color);
    & > .icon {
      color: inherit;
      display: inline-block;
    }
  }
}

input[list]{ 
  cursor: pointer;
  + button {
    pointer-events: none;
  }
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &::-webkit-list-button {
    display: none;
  }
}

datalist {
  width: 100%;
}
datalist option {
  width: 100%;
  color: red;
}

input[type='search'].with-search-icon {
  --revealer-width: var(--ls-150p);
  width: calc(100% - 2 * var(--margin-horizontal));
  padding-right: calc(var(--padding-horizontal) + var(--revealer-width));
  margin-right: 0;
  + span {
    --revealer-width: var(--ls-150p);
    position: relative;
    margin-left: calc(0rem - var(--revealer-width) - var(--ls-25p));
    width: var(--revealer-width);
    --background-color: transparent;
    --secondary-background-color: transparent;
    --tertiary-background-color: transparent;
    --color: var(--interface-gray-400);
    --secondary-color: var(--interface-gray-600);
    --padding-horizontal: var(--ls-0p);
    --padding-vertical: var(--ls-25p);
    color: var(--color);
    pointer-events: none;
    &:hover, &:focus {
      color: var(--secondary-color);
    }
    & > .icon {
      color: inherit;
      display: inline-block;
    }
  }
}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


input.color-input {
  --color-width: var(--ls-150p);
  width: calc(100% - 2 * var(--margin-horizontal));
  padding-right: calc(var(--padding-horizontal) + var(--color-width));
  margin-right: 0;
  + input[type=color] {
    --color-width: var(--ls-150p);
    height: var(--color-width);
    position: relative;
    margin-left: calc(0rem - var(--color-width) - var(--ls-25p));
    width: var(--color-width);
    --background-color: transparent;
    --secondary-background-color: transparent;
    --tertiary-background-color: transparent;
    --color: var(--interface-gray-400);
    --secondary-color: var(--interface-gray-600);
    --padding-horizontal: var(--ls-0p);
    --padding-vertical: var(--ls-0p);
    color: var(--color);
    &:hover, &:focus {
      color: var(--secondary-color);
    }
    z-index: 4;
    -webkit-appearance: none;
    border: none;
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    &::-webkit-color-swatch {
      border: none;
      border-radius: var(--ls-25p);
    }
    &::-moz-color-swatch {
      border: none;
      border-radius: var(--ls-25p);
    }
    top: calc(0.25 * var(--color-width)); // Hardcoded
}
}

input[type='file'] {
  display: none;
}

.upload {
  min-height: var(--ls-300p);
  border: 2px dashed var(--interface-gray-200);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  --padding-vertical: var(--ls-75p);
  --padding-horizontal: var(--ls-50p);
  --border-radius: var(--ls-25p);
  --color: var(--interface-gray-600);
  --font-size: var(--ts-100p);
  --background-color: var(--interface-gray-50);
  font-size: var(--font-size);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% - 2 * var(--margin-horizontal));
  &.small {
    --font-size: var(--ts-50p);
  }
  &.large {
    --padding-vertical: var(--ls-100p);
    --padding-horizontal: var(--ls-75p);
  }
  &.rounded {
    border-radius: var(--ls-900p);
  }
  &.drag, &:focus, &:hover {
    border: 2px dashed var(--focus-blue-400);
    --background-color: var(--focus-blue-50);
    --color: var(--focus-blue-700);
  }
  &:invalid, &:focus:invalid {
    border-color: var(--danger-red-400);
    box-shadow: none;
  }
  &.ready {
    border: 2px solid var(--success-green-300);
    --background-color: var(--success-green-50);
    --color: var(--success-green-800);
    &:hover, &:focus {
     border-color: var(--focus-blue-400);
      --background-color: var(--focus-blue-50);
      --color: var(--focus-blue-700);
    }
  }
  > span, > ul, > ul > li, svg {
    background: transparent;
    transition: all 0.3s ease;
  }
  > span {
    display: block;
  }
  &.disabled {
    --color: var(--interface-gray-500);
    --background-color: var(--interface-gray-100);
    border: 2px solid var(--interface-gray-200);
    cursor: not-allowed;
    &:hover, &:focus {
      border: 2px solid var(--interface-gray-200);
    }
  }
  &.readonly {
    &:hover, &:focus {
      --color: var(--interface-gray-600);
      border: 2px dashed var(--interface-gray-200);
    }
  }
}

input.date + button + div {
  position: relative;
}

.rating {
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-50p);
  --border-radius: var(--ls-25p);
  --background-color: var(--interface-gray-0);
  --font-size: var(--ts-100p);
  transition: 0.3s ease all;
  .icon {
    &:hover, &:focus {
      cursor: pointer;
    }
    --padding-horizontal: var(--ls-25p);
    > svg {
        pointer-events: none;
      * {
        pointer-events: none;
      }
    }
    +.icon {
      padding-left: var(--ls-0p);
    }
  }
  input[type=number]{
    display: none;
  }
  &.disabled {
    .icon {
      &:hover, &:focus {
        cursor: not-allowed;
      }
    }
  }
}

input[type='range'] {
  box-sizing: border-box;
  width: calc(100% - 2 * var(--margin-horizontal));
  -webkit-appearance: none;
  appearance: none;
  --margin-horizontal: var(--ls-75p);
  height: var(--ls-25p);
  --margin-vertical: var(--ls-50p);
  --background-color: var(--interface-gray-200); 
  --secondary-background-color: var(--focus-blue-200);
  --border-radius: var(--ls-25p);
  outline: none;
  transition: 0.3s ease all;
  &::-webkit-slider-thumb { 
    -webkit-appearance: none; 
    appearance: none;
    width: var(--ls-100p);
    height: var(--ls-100p);
    cursor: pointer;
    border: 2px solid var(--focus-blue-300);
    background: var(--interface-gray-0);
    --border-radius: var(--ls-900p);
    border-radius: var(--border-radius);
    pointer-events: auto !important;
    transition: 0.3s ease all;
    &:hover, &:focus {
      border: 2px solid var(--focus-blue-400);
    }
  }
  &::-moz-range-thumb {
    box-sizing: border-box;
    -webkit-appearance: none; 
    appearance: none;
    width: var(--ls-100p);
    height: var(--ls-100p);
    cursor: pointer;
    border: 2px solid var(--focus-blue-300);
    background: var(--interface-gray-0);
    --border-radius: var(--ls-900p);
    border-radius: var(--border-radius);
    pointer-events: auto !important;
    transition: 0.3s ease all;
    &:hover, &:focus {
      border: 2px solid var(--focus-blue-400);
    }
  }
  &[disabled] {
    --background-color: var(--interface-gray-100); 
    --secondary-background-color: var(--interface-gray-200);
    &::-webkit-slider-thumb { 
      border: 2px solid var(--interface-gray-300);
      &:hover, &:focus {
        border: 2px solid var(--interface-gray-300);
        cursor: not-allowed;
      }
    }
    &::-moz-range-thumb { 
      border: 2px solid var(--interface-gray-300);
      &:hover, &:focus {
        border: 2px solid var(--interface-gray-300);
        cursor: not-allowed;
      }
    }
  }
  &[readonly] {
    &::-webkit-slider-thumb { 
      &:hover, &:focus {
        border: 2px solid var(--focus-blue-300);
      }
    }
    &::-moz-range-thumb { 
      &:hover, &:focus {
        border: 2px solid var(--focus-blue-300);
      }
    }
  }
  &:not(.low){
    margin-bottom: 0;
  }
  &.low {
    position: relative;
    top: calc(0rem - var(--ls-150p));
    pointer-events: none;
  }
}
@supports ( -moz-appearance:none) {
  input[type='range'].low {
    top: calc(0rem - var(--ls-100p) - var(--ls-25p) + 2.5px);
  }
}

.search-result-box {
  z-index: 1;
  position: absolute;
  width: calc(100% - var(--ls-150p));
  border: 1px solid var(--interface-gray-200);
  margin: var(--ls-75p);
  top: calc(var(--ls-150p) + var(--ls-25p));
  --border-radius: var(--ls-25p);
  border-top-left-radius: var(--ls-0p);
  border-top-right-radius: var(--ls-0p);
  --box-shadow: var(--shadow-100);
}

input[type=color][readonly]{
  pointer-events: none;
}

.with-icon {
  padding-left: calc(var(--padding-horizontal) + var(--ls-150p));
  background-position-y: center;
  background-position-x: var(--ls-25p);
}