:placeholder-shown {
  color: var(--interface-gray-600);
}
::-placeholder {
  color: var(--interface-gray-600);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:var(--interface-gray-600);
}
::-moz-placeholder { /* Firefox 19+ */
  color:var(--interface-gray-600);
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'] {
  border: 1px solid var(--interface-gray-200);
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-50p);
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: var(--ls-50p);
  --border-radius: var(--ls-25p);
  --background-color: var(--interface-gray-0);
  --font-size: var(--ts-100p);
  font-size: var(--font-size);
  cursor: text;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% - 2 * var(--margin-horizontal));
  &:hover, &:focus {
    border-color: var(--focus-blue-400);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--focus-blue-100);
  }
  &:invalid, &:focus:invalid{
    border-color: var(--danger-red-400);
    box-shadow: none;
  }
  &.small {
    --font-size: var(--ts-50p);
  }
  &.large {
    --padding-vertical: var(--ls-75p);
    --padding-horizontal: var(--ls-100p);
  }
}

input.revealer {
  width: calc(100% - 2 * var(--margin-horizontal));
  margin-right: 0;
  + button {
    --revealer-width: var(--ls-150p);
    position: relative;
    margin-left: calc(0rem - var(--revealer-width) - var(--ls-25p));
    width: var(--revealer-width);
    --background-color: transparent;
    --secondary-background-color: transparent;
    --tertiary-background-color: transparent;
    --color: var(--interface-gray-400);
    --secondary-color: var(--interface-gray-600);
    --padding-horizontal: var(--ls-0p);
    --padding-vertical: var(--ls-25p);
    color: var(--color);
    &:hover, &:focus {
      color: var(--secondary-color);
    }
    & > .icon {
      color: inherit;
      display: inline-block;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.number-input-minus {
  --button-width: var(--ls-150p);
  position: relative;
  width: var(--button-width);
  margin-right: calc(0rem - var(--button-width) - var(--ls-25p) + 1px);
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --background-color: transparent;
  --secondary-background-color: transparent;
  --tertiary-background-color: transparent;
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --padding-horizontal: var(--ls-0p);
  --padding-vertical: var(--ls-25p);
  &:hover, &:focus {
    color: var(--secondary-color);
  }
  & > .icon {
    color: inherit;
    display: inline-block;
  }
}
input[type=number] {
  --button-width: var(--ls-150p);
  --margin-horizontal: 0;
  width: calc(100% - 2 * var(--ls-75p));
  --padding-horizontal: var(--button-width);
  text-align: center;
}
.number-input-plus {
  --button-width: var(--ls-150p);
  position: relative;
  width: var(--button-width);
  margin-left: calc(0rem - var(--button-width) - var(--ls-25p) + 1px);
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --background-color: transparent;
  --secondary-background-color: transparent;
  --tertiary-background-color: transparent;
  --color: var(--interface-gray-400);
  --secondary-color: var(--interface-gray-600);
  --padding-horizontal: var(--ls-0p);
  --padding-vertical: var(--ls-25p);
  &:hover, &:focus {
    color: var(--secondary-color);
  }
  & > .icon {
    color: inherit;
    display: inline-block;
  }
}

