.layout-container {
  display: grid;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: auto;
}

.layout-header {
  height: var(--ls-250p);
  z-index: 101;
  position: sticky;
  grid-area: header;
  &.border-top {
    border-top: 1px solid var(--interface-gray-200);
  }
  &.border-bottom {
    border-bottom: 1px solid var(--interface-gray-200);
  }
  &.shadow {
    --box-shadow: var(--shadow-100);
  }
}

.sidebar-visible .layout-sidebar {
  --box-shadow: var(--shadow-100);
}

.layout-sidebar {
  position: fixed;
  height: calc(100% - var(--ls-250p));
  z-index: 100;
  transition: all 0.3s ease;
  &.border-left {
    border-left: 1px solid var(--interface-gray-200);
  }
  &.border-right {
    border-right: 1px solid var(--interface-gray-200);
  }
}

.layout-content {
  grid-area: content;
  min-height: calc(100vh - var(--ls-250p));
}

.layout-sidebar-tab {
  position: fixed;
  --margin-horizontal: var(--ls-0p);
  --margin-vertical: var(--ls-50p);
  height: var(--ls-250p);
  width: var(--ls-250p);
  z-index: 99;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  --background-color: var(--interface-gray-0);
  --box-shadow: var(--shadow-300);
  transition: all 0.3s ease;
  --color: var(--interface-gray-900);
  &:hover, &:focus {
    --box-shadow: var(--shadow-500);
  }
  .icon {
    --padding-horizontal: var(--ls-0p);
  }
}

.layout-sidebar-overlay {
  z-index: 98;
  --background-color: var(--interface-gray-800);
  opacity: 0.24;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}