ol, ul {
  --margin-horizontal: var(--ls-200p);
  --margin-vertical: var(--ls-75p);
  --padding-horizontal: var(--ls-75p);
  list-style: none;
}

li {
  --padding-horizontal: var(--ls-50p);
}

ul {
  &.circle, &.disc, &.square, &.triangle {
    li::before {
      --color: var(--cool-gray-400);
      display: inline-block;
      font-size: 1.5rem;
      line-height: 0.75;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      margin-left: -1.125em;
      margin-right: 0.125em;
    }
  }
  &.circle {
    li::before {
      content: "\25e6";
    }
  }
  &.disc {
    li::before {
      content: "\2022";
    }
  }
  &.square {
    li::before {
      content: "\25aa";
    }
  }
  &.triangle {
    li::before {
      content: "\2023";
    }
  }
}

ol {
  &.decimal {
    list-style: decimal;
  }
  &.decimal-leading-zero {
    list-style: decimal-leading-zero;
  }
  &.lower-latin {
    list-style: lower-latin;
  }
  &.lower-roman {
    list-style: lower-roman;
  }
  &.upper-latin {
    list-style: upper-latin;
  }
  &.upper-roman {
    list-style: upper-roman;
  }
}

