ol, ul {
  --margin-horizontal: var(--ls-200p);
  --margin-vertical: var(--ls-75p);
  --padding-horizontal: var(--ls-75p);
  list-style: none;
}

li {
  --padding-horizontal: var(--ls-50p);
}

ul {
  &.circle, &.disc, &.square, &.triangle, &.checkbox {
    li::before {
      --color: var(--cool-gray-400);
      display: inline-block;
      font-size: 1.5rem;
      line-height: 0.75;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      margin-left: -1.125em;
      margin-right: 0.125em;
    }
  }
  &.circle {
    li::before {
      content: "\25e6";
    }
  }
  &.disc {
    li::before {
      content: "\2022";
    }
  }
  &.square {
    li::before {
      content: "\25aa";
    }
  }
  &.triangle {
    li::before {
      content: "\2023";
    }
  }
  &.checkbox {
    li::before {
      content: "\2713";
      font-size: 1rem;
      margin-left: -1.75em;
      margin-right: 0.75em;
      --background-color: var(--focus-blue-100);
      --border-radius: 50%;
      text-align: center;
    }
  }
}

ol {
  &.decimal, &.decimal-leading-zero, &.lower-latin, &.lower-roman, &.upper-latin, &.upper-roman {  
    li {
      counter-increment: step-counter;
      position: relative;
    }
    li::before {
      content: counter(step-counter)'.';
      display: inline-block;
      line-height: 2.25;
      font-size: 0.75em;
      text-align: right;
      vertical-align: baseline;
      position: absolute;
      left: 0;
      width: 2.5em;
      height: 1em;
      margin-left: -2.375em;
      margin-right: 0.125em;
    }
  }
  &.decimal {
    li::before {
      content: counter(step-counter, decimal);
    }
  }
  &.decimal-leading-zero {
    li::before {
      content: counter(step-counter, decimal-leading-zero);
    }
  }
  &.lower-latin {
    li::before {
      content: counter(step-counter, lower-latin);
    }
  }
  &.lower-roman {
    li::before {
      content: counter(step-counter, lower-roman);
    }
  }
  &.upper-latin {
    li::before {
      content: counter(step-counter, upper-latin);
    }
  }
  &.upper-roman {
    li::before {
      content: counter(step-counter, upper-roman);
    }
  }
}

