@mixin define-loader-color-variant ($class-name, $color-name) {
  &.#{$class-name} {
    --color: var(--#{$color-name}-500);
  }
}

.loader {
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-25p);
  --color: var(--interface-gray-500);
  & > svg {
    color: inherit;
    margin: 0;
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: relative;
    & circle {
      color: inherit;
      animation: dash 1.5s ease-in-out infinite;
    }
  }
  @include define-loader-color-variant('danger', 'danger-red');
  @include define-loader-color-variant('success', 'success-green');
  @include define-loader-color-variant('warning', 'warning-yellow');
  @include define-loader-color-variant('primary', 'focus-blue');
  @include define-loader-color-variant('secondary', 'deep-purple');
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}