.menu {
  --font-size: var(--ts-50p);
  &.vertical {
    display: flex;
    flex-flow: column;
    height: 100%;
    --padding-vertical: var(--ls-100p);
    & > .menu-item {
      display: block;
      text-align: left;
    }
    &.right-highlight {
      & > .menu-item {
        border-right: 3px solid transparent;
        &.selected {
          border-right: 3px solid var(--focus-blue-500);
          --background-color: var(--focus-blue-50);
        }
      }
    }
    &.left-highlight {
      & > .menu-item {
        border-left: 3px solid transparent;
        &.selected {
          border-left: 3px solid var(--focus-blue-500);
          --background-color: var(--focus-blue-50);
        }
      }
    }
    overflow-y: auto;
  }
  &.horizontal {
    height: var(--ls-250p);
    display: flex;
    flex-flow: row;
    width: 100%;
    --padding-horizontal: var(--ls-100p);
    & > .menu-item {
      display: inline-block;
      flex: 1 1 0;
      text-align: center;
    }
    &.top-highlight {
      align-items: flex-start;
      & > .menu-item {
        border-top: 3px solid transparent;
        &.selected {
          border-top: 3px solid var(--focus-blue-500);
        }
      }
    }
    &.bottom-highlight {
      align-items: flex-end;
      & > .menu-item {
        border-bottom: 3px solid transparent;
        &.selected {
          border-bottom: 3px solid var(--focus-blue-500);
        }
      }
    }
  }
}

.menu-item, a.menu-item {
  --color: var(--interface-gray-600);
  cursor: pointer;
  transition: all 0.3s ease;
  --padding-vertical: var(--ls-75p);
  --padding-horizontal: var(--ls-150p);
  --margin: var(--ls-0p);
  --border-radius: var(--ls-0p);
  --background-color: transparent;
  &:hover, &:focus {
    --color: var(--focus-blue-500);
  }
  &.selected {
    --color: var(--focus-blue-500);
  }
}

.menu.horizontal .dropdown .menu-item {
  --padding-vertical: var(--ls-25p);
  --padding-horizontal: 0;
  &.selected {
    font-weight: 500;
  }
}

.menu.vertical .dropdown .menu-item {
  text-align: left;
  &.selected {
    font-weight: 500;
  }
}

.layout-header.border-bottom, .layout-header.border-top {
  & .menu.horizontal {
    height: calc(var(--ls-250p) - 1px);
  }
}