.modal {
  z-index: 121;
  position: fixed;
  --background-color: white;
  max-width: 80vw;
  max-height: 80vh;
  --border-radius: var(--ls-25p);
  --box-shadow: var(--shadow-300);
}

.modal-section {
  --padding: var(--ls-25p);
  &:first-child {
    border-top-left-radius: var(--ls-25p);
    border-top-right-radius: var(--ls-25p);
  }
}

.modal-media-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-section:not(:first-child) {
  border-top: 1px solid var(--interface-gray-200);
}

.modal-media-section + .modal-section {
  border-top: 0;
}

.modal-center {
  z-index: 120;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  z-index: 120;
  --background-color: var(--interface-gray-800);
  opacity: 0.24;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}