.notification-center {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: var(--ls-600p);
  @media screen and (max-width: 599px) {
    width: 100vw;
  }
  @media screen and (min-width: 600px) {
    width: var(--ls-600p);
  }
  z-index: 115;
  flex-direction: column;
  transition: 0.3s all ease;
}

.notification {
  box-shadow: var(--shadow-100);
  --padding: var(--ls-50p);
  --margin-horizontal: var(--ls-25p);
  --margin-vertical: var(--ls-25p);
  transition: 0.25s all ease, 0.5s height ease;
  --border-radius: var(--ls-25p);
  position: relative;
  transform: translate3d(0px, 0px, 0px), ;
  &.almost-inactive {
    transform: translate3d(0px, -4px, 0px);
    opacity: 0;
  }
  &.inactive {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    height: 0;
  }
}