.step {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2 * var(--margin-horizontal));
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-25p);
  --background-color: inherit;
  & > .step-item {
    --background-color: inherit;
    flex: 1;
    --margin-vertical: var(--ls-25p);
    --padding-vertical: var(--ls-25p);
    position: relative;
    margin-left: var(--ls-200p);
    & > .step-content {
      --background-color: inherit;
      --font-weight: 600;
      text-shadow: 2px 0px 0px var(--background-color), 4px 0px 0px var(--background-color), 6px 0px 0px var(--background-color), 8px 0px 0px var(--background-color);
      & > small {
        font-weight: normal;
        display: block;
        line-height: 1.2;
      }
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: var(--ls-25p);
      left: calc(0rem - var(--ls-150p));
      margin-left: calc(0rem - var(--ls-25p));
      background: var(--focus-blue-400);
      border-radius: var(--ls-150p);
      width: var(--ls-150p);
      height: var(--ls-150p);
    }
    &:not(:last-child) {
      background: linear-gradient(180deg, transparent 16px, var(--focus-blue-400) 16px,transparent 17px );
    }
  }
}