.step {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2 * var(--margin-horizontal));
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-25p);
  --background-color: inherit;
  & > .step-item {
    counter-increment: step-counter;
    --background-color: inherit;
    flex: 1;
    --margin-vertical: var(--ls-25p);
    --padding-vertical: var(--ls-25p);
    position: relative;
    margin-left: var(--ls-200p);
    & > .step-content {
      --background-color: inherit;
      --color: var(--interface-gray-800);
      text-shadow: 2px 0px 0px var(--background-color), 4px 0px 0px var(--background-color), 6px 0px 0px var(--background-color), 8px 0px 0px var(--background-color);
      & > small {
        font-weight: normal;
        display: block;
        line-height: 1.2;
      }
    }
    &.selected {
      & > .step-content {
        --color: var(--interface-gray-900);
        --font-weight: 500;
      }
      &::before {
        --font-weight: 500;
        --background-color: var(--focus-blue-400);
      }
    }
    &.selected ~ .step-item {
      & > .step-content {
        --color: var(--interface-gray-600);
      }
      &::before {
        --background-color: var(--interface-gray-300);
      }
    }
    &::before {
      content: counter(step-counter, decimal);
      text-align: center;
      --color: var(--interface-gray-0);
      display: block;
      position: absolute;
      top: var(--ls-25p);
      left: calc(0rem - var(--ls-150p));
      margin-left: calc(0rem - var(--ls-25p));
      --background-color: var(--focus-blue-300);
      border-radius: var(--ls-150p);
      width: var(--ls-150p);
      height: var(--ls-150p);
    }
    background: linear-gradient(180deg, transparent 16px, var(--focus-blue-500) 16px, transparent 17px);
    &.selected, &.selected ~ .step-item {
      background: linear-gradient(180deg, transparent 16px, var(--interface-gray-300) 16px, transparent 17px);
    }
    &:last-child {
      flex: 0 0 auto;
      background: transparent !important;
    }
  }
  &.vertical {
    flex-flow: column;
    & > .step-item {
      padding-bottom: var(--ls-150p);
      &::before {
        content: '';
        width: var(--ls-100p);
        height: var(--ls-100p);
        top: var(--ls-50p);
      }
      background: transparent;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: var(--ls-150p);
        left: calc(0rem - var(--ls-100p) - var(--ls-25p) - 1px);
        height: 100%;
        width: 2px;
        background: var(--focus-blue-300);
      }
      &.selected, &.selected ~ .step-item {
        background: transparent;
        &::after {
          background: var(--interface-gray-300);
        }
      }
      &:last-child {
        &::after {
          background: transparent !important;
        }
      }
    }
  }
}