table {
  border-collapse: separate;
  border-spacing: 0;
  width: calc(100% - 2 * var(--margin-horizontal));
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-150p);
  & caption {
    --font-size: var(--ts-400p);
    --margin-vertical: var(--ls-50p);
  }
  & thead, & tbody {
    --border-radius: var(--ls-50p);
  }
  & thead th {
    border-bottom: 1px solid var(--interface-gray-100);
  }
  &.bordered thead th {
    border-bottom: 2px solid var(--interface-gray-100);
  }
  &.striped tr:nth-of-type(2n-1) > td {
    --background-color: var(--interface-gray-50);
  }
  &.bordered tr:not(:last-child) > td {
    border-bottom: 1px solid var(--interface-gray-100);
  }
  & th, & td {
    --padding-horizontal: var(--ls-50p);
    --padding-vertical: var(--ls-50p);
  }
  & th {
    position: relative;
    text-align: left;
    --font-weight: 500;
    --font-size: var(--ts-50p);
    text-transform: uppercase;
    --color: var(--interface-gray-700);
    --padding-vertical: var(--ls-75p);
  }
  & th:first-child, & td:first-child {
    padding-left: var(--ls-75p);
  }
  & th:last-child, & td:last-child {
    padding-right: var(--ls-75p);
  }
  & tbody th {
    border-right: 1px solid var(--interface-gray-100);
  }
  & tr:hover, & tr:focus {
    > td {
      --background-color: var(--focus-blue-50);
    }
  }
}