table {
  border-collapse: separate;
  border-spacing: 0;
  width: calc(100% - 2 * var(--margin-horizontal));
  border: 1px solid var(--cool-gray-100);
  --border-radius: var(--ls-50p);
  --margin: var(--ls-75p);
  & caption {
    --font-size: var(--ts-400p);
    --margin-vertical: var(--ls-50p);
  }
  & thead, & tbody {
    --border-radius: var(--ls-50p);
  }
  & thead th {
    border-bottom: 1px solid var(--cool-gray-100);
  }
  & tr:nth-of-type(2n-1) > td {
    --background-color: var(--cool-gray-100);
  }
  & th, & td {
    --padding-horizontal: var(--ls-50p);
    --padding-vertical: var(--ls-50p);
  }
  & th {
    text-align: left;
    --font-weight: 500;
    --font-size: var(--ts-50p);
    text-transform: uppercase;
    --color: var(--cool-gray-700);
    --padding-vertical: var(--ls-75p);
  }
  & th:first-child, & td:first-child {
    padding-left: var(--ls-75p);
  }
  & th:last-child, & td:last-child {
    padding-right: var(--ls-75p);
  }
  & thead tr:first-child *:first-child, & :not(thead) + tbody tr:first-child *:first-child, & tbody:first-child tr:first-child *:first-child {
    border-top-left-radius: var(--ls-50p);
  }
  & thead tr:first-child *:last-child, & :not(thead) + tbody tr:first-child *:last-child, & tbody:first-child tr:first-child *:last-child {
    border-top-right-radius: var(--ls-50p);
  }
  & tbody tr:last-child *:first-child {
    border-bottom-left-radius: var(--ls-50p);
  }
  & tbody tr:last-child *:last-child {
    border-bottom-right-radius: var(--ls-50p);
  }
  & tbody th {
    border-right: 1px solid var(--cool-gray-100);
  }
  & tr:hover, & tr:focus {
    > td {
      --background-color: var(--focus-blue-100);
    }
  }
}