.tooltip {
  position: relative;
}
.tooltip-trigger {
  display: inline-block;
  text-decoration: underline dotted;
}

.tooltip-bubble {
  background: transparent;
  opacity: 0.98;
  min-width: var(--ls-400p);
  max-width: var(--ls-500p);
  position: absolute;
  z-index: 90;
  &::after {
    content: '';
    position: absolute;
  }
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  padding-bottom: var(--ls-50p);
  transform: translateX(-50%);
  &::after {
    bottom: var(--ls-25p);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: var(--ls-50p);
    width: var(--ls-50p);
    --background-color: var(--interface-gray-900);
  }
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  padding-top: var(--ls-50p);
  transform: translateX(-50%);
  &::after {
    left: 50%;
    top: var(--ls-25p);
    transform: translateX(-50%) rotate(45deg);
    height: var(--ls-50p);
    width: var(--ls-50p);
    --background-color: var(--interface-gray-900);
  }
}

.tooltip-left {
  top: 50%;
  right: 100%;
  padding-right: var(--ls-50p);
  transform: translateY(-50%);
  &::after {
    top: 50%;
    right: var(--ls-25p);
    transform: translateY(-50%) rotate(45deg);
    height: var(--ls-50p);
    width: var(--ls-50p);
    --background-color: var(--interface-gray-900);
  }
}

.tooltip-right {
  top: 50%;
  left: 100%;
  padding-left: var(--ls-50p);
  transform: translateY(-50%);
  &::after {
    top: 50%;
    left: var(--ls-25p);
    transform: translateY(-50%) rotate(45deg);
    height: var(--ls-50p);
    width: var(--ls-50p);
    --background-color: var(--interface-gray-900);
  }
}

.tooltip-message {
  --background-color: var(--interface-gray-900);
  --border-radius: var(--ls-25p);
  --color: var(--interface-gray-0);
  --font-size: var(--ts-50p);
  --padding-vertical: var(--ls-75p);
  --padding-horizontal: var(--ls-75p);
  text-align: center;
}