{
  "extends": [
    "semistandard-react"
  ],
  "rules": {
    "semistandard-react/prop-types": "off",
    "no-useless-escape": "warn",
    "no-mixed-operators": "warn",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "(React|set.*)" }]
  }
}