@media screen and (min-width: 600px) {
  form.two-column {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: var(--ls-50p);
    grid-row-gap: var(--ls-50p);
    justify-items: stretch;
    align-items: center;
    & legend {
      grid-column-start: 1;
      grid-column-end: 5;
    }
    & label {
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: right;
    }
    & input, & select, & textarea {
      grid-column-start: 2;
      grid-column-end: 5;
    }
  }
}