*, ::before, ::after {
  // Define padding, margin, box shadow and border radius for all elements
  --margin: var(--ls-0p);
  --margin-vertical: var(--margin);
  --margin-horizontal: var(--margin);
  --padding: var(--ls-0p);
  --padding-vertical: var(--padding);
  --padding-horizontal: var(--padding);
  --box-shadow: var(--shadow-0);
  --border-radius: var(--ls-0p);
  margin: var(--margin-vertical) var(--margin-horizontal);
  padding: var(--padding-vertical) var(--padding-horizontal);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  color: var(--color);
  background-color: var(--background-color);
}

body {
  // Define colors for all elements
  --color: var(--interface-gray-900);
  --background-color: var(--interface-gray-0);
}

hr {
  // Fixes and defaults for styling
  border: 0;
  box-sizing: content-box;
  // Actual styling using variables
  line-height: 1.25;
  --margin-vertical: var(--ls-100p);
  --margin-horizontal: var(--ls-75p);
  height: 1px;
  background: linear-gradient(to right, transparent, var(--interface-gray-400) 25%, var(--interface-gray-400) 75%, transparent);
}