*, ::before, ::after {
  // Define padding, margin, box shadow and border radius for all elements
  --margin: var(--ls-0p);
  --margin-vertical: var(--margin);
  --margin-horizontal: var(--margin);
  --padding: var(--ls-0p);
  --padding-vertical: var(--padding);
  --padding-horizontal: var(--padding);
  --box-shadow: var(--shadow-0);
  --border-radius: var(--ls-0p);
  margin: var(--margin-vertical) var(--margin-horizontal);
  padding: var(--padding-vertical) var(--padding-horizontal);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  color: var(--color);
  background-color: var(--background-color);
}

body {
  // Define colors for all elements
  --color: var(--interface-gray-900);
  --background-color: var(--interface-gray-0);
}

svg, svg * {
  color: inherit;
}