*, ::before, ::after {
  // Define the font family and the maximum line length
  font-family: var(--font-a), var(--system-font-stack);
  // Define the font size for all elements
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

// Apply a sensible line length
p, li, td {
  &.constrained {
    max-width: calc(60ch + 2 * var(--padding-horizontal) + 2 * var(--margin-horizontal));
  }
}
blockquote {
  &.constrained {
    max-width: calc(49.5ch + 2 * var(--padding-horizontal) + 2 * var(--margin-horizontal));
  }
}
h1, h2, h3, h4, h5, h6, .title1, .title2, .title3, .title4, .title5, .title6 {
  &.constrained {
    max-width: 80ch;
  }
}

// Define a class for elements using the primary font
.font-a {
  font-family: var(--font-b), var(--system-font-stack) !important;
}
// Define a class for elements using the secondary font
.font-b {
  font-family: var(--font-b), var(--system-font-stack) !important;
}
// Define a class for elements using the code font
.font-c {
  font-family: var(--font-c), var(--system-font-stack) !important;
}

.lighter {
  --color: var(--interface-gray-600) !important;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.0375em;
}

// Define font size for headings and title classes
h1, .title1 {
  --font-size: var(--ts-800p);
  --font-weight: 300;
  line-height: 1;
  --margin-vertical: var(--ls-200p);
  & small, sup, sub {
    --font-size: var(--ts-600p);
  }
}
h2, .title2 {
  --font-size: var(--ts-700p);
  --font-weight: 300;
  line-height: 1;
  --margin-vertical: var(--ls-200p);
  & small {
    --font-size: var(--ts-500p);
  }
  & b, & strong {
    --font-weight: 400;
  }
}
h3, .title3 {
  --font-size: var(--ts-600p);
  --font-weight: 300;
  line-height: 1.25;
  --margin-vertical: var(--ls-150p);
  & small {
    --font-size: var(--ts-400p);
  }
  & b, & strong {
    --font-weight: 400;
  }
}
h4, .title4 {
  --font-size: var(--ts-500p);
  --font-weight: 300;
  line-height: 1.25;
  --margin-vertical: var(--ls-150p);
  & small {
    --font-size: var(--ts-300p);
  }
  & b, & strong {
    --font-weight: 400;
  }
}
h5, .title5 {
  --font-size: var(--ts-400p);
  --font-weight: 300;
  line-height: 1.5;
  --margin-vertical: var(--ls-100p);
  & small {
    --font-size: var(--ts-200p);
  }
  & b, & strong {
    --font-weight: 400;
  }
}
h6, .title6 {
  --font-size: var(--ts-300p);
  --font-weight: 300;
  line-height: 1.5;
  --margin-vertical: var(--ls-100p);
  & small {
    --font-size: var(--ts-100p);
  }
  & b, & strong {
    --font-weight: 500;
  }
}

h1, h2, h3, h4, h5, h6, .title1, .title2, .title3, .title4, .title5, .title6 {
  display: block;
  letter-spacing: -0.05em;
  font-family: var(--font-b), var(--font-a), var(--system-font-stack);
  --margin-horizontal: var(--ls-75p);
  & small {
    --margin-vertical: calc(var(--ls-0p) - 0.0625em);
    letter-spacing: -0.05em;
    display: block;
    font-family: var(--font-a), var(--system-font-stack);
  }
}

p {
  --margin-horizontal: var(--ls-75p);
  --margin-vertical: var(--ls-100p);
}

p + p {
  margin-top: calc(0rem - var(--ls-50p));  
}

small, sup, sub, figcaption {
  --font-size: var(--ts-50p);
}
sub {
  bottom: calc(var(--ls-0p) - var(--sp-25p));
}
sup {
  top: calc(var(--ls-0p) - var(--sp-25p));
}

b, strong {
  font-weight: 500;
}

// Fix font and scaling in all browsers
pre, code, kbd, samp {
  font-family: var(--font-c), monospace;
  --font-size: var(--ts-50p);
}

// Fix text wrapping
pre {
  white-space: pre-wrap;
  --background-color: var(--interface-gray-50);
  --padding-horizontal: var(--ls-100p);
  --padding-vertical: var(--ls-150p);
  --margin-horizontal: var(--ls-75p);
  --border-radius: var(--ls-25p);
  border: 1px solid var(--interface-gray-100);
  code, span {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
  }
}

code {
  display: inline-block;
  --background-color: var(--interface-gray-100);
  --padding-horizontal: var(--ls-25p);
  --border-radius: var(--ls-25p);
}

kbd {
  display: inline-block;
  --background-color: var(--interface-gray-900);
  --color: var(--interface-gray-50);
  --padding-horizontal: var(--ls-25p);
  --border-radius: var(--ls-25p);
}

blockquote {
  position: relative;
  --font-size: var(--ts-300p);
  --padding-horizontal: var(--ls-200p);
  --margin-vertical: var(--ls-50p);
  font-family: var(--font-b), var(--font-a), var(--system-font-stack);
  font-style: italic;
  --color: var(--interface-gray-700);
  &:before {
    position: absolute;
    --margin-vertical: var(--ls-75p);
    --margin-horizontal: var(--ls-50p);
    top: calc(var(--ls-0p) - 2 * var(--padding-vertical) - 2 * var(--margin-vertical));
    left: 0;
    --font-size: var(--ts-700p);
    --color: var(--interface-gray-300);
    content: open-quote;
  }
  &[cite]:after{
    font-style: normal;
    --font-size: var(--ts-200p);
    --font-weight: 500;
    content: "\a\2014\2009" attr(cite);
    --color: var(--interface-gray-600);
    letter-spacing: 0.0125em;
    white-space: pre;
  }
}

figure {
  --margin: var(--ls-50p);
  display: inline-block;
}
figcaption {
  --color: var(--interface-gray-700);
  text-align: center;
}

caption, legend {
  font-family: var(--font-b), var(--font-a), var(--system-font-stack);
}
