@mixin define-type-vars($type-scale-map) {
  $base-scale-value: map-get($type-scale-map, 100);
  @each $step-name, $step-size in $type-scale-map {
    #{'--'}#{$step-name}tsp: #{($step-size/$base-scale-value)}rem;
  }
}

:root {
  // Define the type scale
  @include define-type-vars((
    25: 12, 
    50: 14, 
    100: 16, 
    200: 18, 
    300: 20, 
    400: 24, 
    500: 30, 
    600: 36, 
    700: 48, 
    800: 60, 
    900: 72
  ));
  // Define the system font stack and custom fonts
  --system-font-stack: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-a: Roboto;
  --font-b: "Open Sans";
  // Define the font size variable
  --font-size: var(--100tsp);
}