.borderBottom {
  height: 64px ; 
  align-self:flex-end; 
  border-bottom: 
  1px solid var(--interface-gray-200); 
}
.title { 
  padding: 8px 24px; 
  line-height: 64px;
}

.fixed-table {
  table-layout: fixed;
}

.component-example {
  overflow: hidden;
  border-radius: var(--ls-25p);
  border: 1px solid var(--interface-gray-100);
  --margin: var(--ls-75p);
  & .component-demo {
    --padding-horizontal: var(--ls-75p);
    --padding-vertical: var(--ls-200p);
  }
  & .component-source {
    --margin-horizontal: var(--ls-0p);
    border-radius: 0;
    border: 0;
  }
}

pre span {
  font-family: var(--font-c), var(--system-font-stack) !important;
}